<div class="main_background" id="front_page">
  <div class="header">
    <ul class="logo">SockChat</ul>
    <ul class="navigation">
      <li id="logout"><%=link_to "Log Out", destroy_user_session_path, method: :delete, confirm: "You sure?" %></li>
    </ul>
  </div>
  <div class="main">
    <div ng-controller="ScreenchatsCtrl">
      <div id="room-selection">
        <span>Room</span>
        <form id="new_room" ng-submit="create(screenchat)">
          <input id="name-chat-input" type="text" placeholder="Chat name" ng-model="screenchat.name">
        </form>
        <div addroom="movein" class="btn add_room">+</div>
      </div>
      <div id="screenchat-list-container" sockchat>
        <ul>
          <li ng-repeat="screenchat in screenchats" ng-click="showScreenchat(screenchat)">
            <h3 ng-class="{active: $index == selectedRow}" clickchat="active">{{screenchat.name}}</h3>
          </li>
        </ul>
      </div>

      <div id="screenchat-view-container" ng-show="selectedScreenchat">
        <h2>{{selectedScreenchat.name}}</h2>
        <div id="output">
          <ul>
            <li ng-repeat="chatmessage in chatmessages">
              <div>{{chatmessage.owner.email}}: </div>
              <p>{{chatmessage.message.content}}</p>
            </li>
          </ul>
        </div>
        <form class="chat" formchat>
          <input placeholder="hello world" autofocus>
        </form>
      </div>

    </div>
  </div>
</div>