<h1><%=@chat.name%></h1>
<pre id="output"></pre>
<form class="chat">
  <input placeholder="hello world" autofocus>
</form>

<script type="text/javascript">
  socket = new WebSocket("ws://"+ window.location.host + "/chat/<%=@chat.id%>")

  var data
  socket.onmessage = function(event){
    data = jQuery.parseJSON(event.data)
    if(event.data.length)
      $("#output").append(data.username + ": " + data.message + "<br>")
  }

  $("body").on("submit", "form.chat", function(event) {
    event.preventDefault()
    $input = $(this).find("input")
    socket.send(JSON.stringify({
      user_id: <%= current_user.id %>,
      message: $input.val()
    }))
    $input.val(null)
  })
</script>